@import "partials/clearfix";
@import "partials/reset";
@import "partials/colors";

@import "partials/index";
@import "partials/details";
@import "partials/login";
@import "partials/edit";
@import "partials/new";

body {
  font-family: 'Arial', sans-serif;
  .container{
    width: 90%;
    max-width: 1280px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
  }

  form {
    width: 60%;
    padding: 0 16px;
    label{
      text-align:left;
      padding: 10px 0;
      display: block;
      width: 100%;
      margin: 0 0 4px 0;
    }

    input {
      border: 1px solid $textMidGrey;
      width: 100%;
      margin: 0 0 8px 0;
      min-height: 20px;
    }
    input.button{
      background: #fff;
      border: 1px solid $textMidGrey;
      color: $textMidGrey;
      padding: 8px 12px;
      text-transform: uppercase;

      &:hover{
        cursor: pointer;
        color: $textMidGreyHover;
        border: 1px solid $textMidGreyHover;
      }
    }

    @media(min-width: 857px){
      width: 320px;
    }
  }

  footer {
    height: 60px;
    text-align: center;
    color: $textMidGrey;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }

  a{
    color: $textMidGrey;
    display: inline-block;
    text-decoration: none;

    &:hover{
      color: $textMidGreyHover;
    }
  }
  .top-links{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 16px 0 0 0;

    .search{
      form{
        width: 100%;
        padding: 0;
        margin: 0;
        input{
          width: 70%;
        }

        #search-button{
          width: 10%;
        }
      }
      @media(min-width: 857px){
        display: flex nowrap;
        justify-content: flex-end;

        form {
          padding: 0;
        }

        input {
          width: 85%;
          margin: 0;
        }

        #search-button{
          width: 10%;
          background: none;
          &:hover{
            cursor: pointer;
            color: $textMidGreyHover;
            border: 1px solid $textMidGreyHover;
          }
        }
        width: 320px;
      }
    }

    .registration {
      display: block;
      text-align: right;
      a {
        padding: 8px 0 8px 16px;
      }
    }

    .new-photo{
      border: 1px solid $textMidGrey;
      display: block;
      padding: 7px 10px;
      height: 16px;
      &:hover {
        border: 1px solid $textMidGreyHover;
        color: $textMidGreyHover;
      }
    }
  }

  header {
    margin: 24px auto 0 auto;
    width: 100%;
    color: $textMidGrey;
    border-top: 1px dotted $borderGrey;
    padding: 28px 0 60px 0;

    a {
      &:hover {
        color: $textMidGrey;
      }
    }

    h1{
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      display: inline-block;
      width: relative;
      padding: 0 20px 0 0;

      @media( min-width: 857px ){
        font-size: 4rem;
        border-right: 1px solid $borderGrey;
      }

    }
    aside{
      width: 300px;
      font-size: 0.75rem;
      padding: 0 0 0 20px;
      text-align: left;
      display: none;

      @media ( min-width: 857px ){
        display: inline-block;
      }

    }
  }
}