@import "partials/clearfix";
@import "partials/reset";
@import "partials/colors";

@import "partials/index";
@import "partials/details";
@import "partials/login";
@import "partials/edit";
@import "partials/new";

body {
  font-family: 'Arial', sans-serif;
  .container{
    width: 90%;
    max-width: 1280px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }

  a{
    color: $textMidGrey;
    display: inline-block;
    text-decoration: none;
    &:hover{
      color: $textMidGreyHover;
    }
  }
  .top-links{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;


    .registration {
      display: block;
      text-align: right;
      margin: 16px 0 0 0;
      a {
        padding: 8px 0 8px 16px;
      }
    }

    .new-photo{
      border: 1px solid $textMidGrey;
      display: block;
      margin: 16px 0 0 0;
      padding: 7px 10px;
    }
  }

  header {
    margin: 24px auto 0 auto;
    width: 100%;
    color: $textMidGrey;
    border-top: 1px dotted $borderGrey;
    padding: 28px 0 60px 0;

    a {
      &:hover {
        color: $textMidGrey;
      }
    }

    h1{
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      display: inline-block;
      width: relative;
      padding: 0 20px 0 0;

      @media( min-width: 857px ){
        font-size: 4rem;
        border-right: 1px solid $borderGrey;
      }

    }
    aside{
      width: 300px;
      font-size: 0.75rem;
      padding: 0 0 0 20px;
      text-align: left;
      display: none;

      @media ( min-width: 857px ){
        display: inline-block;
      }

    }
  }

  form {
    width: 60%;
    padding: 0 16px;
    label{
      text-align:left;
      padding: 10px 0;
      display: block;
      width: 100%;
      margin: 0 0 4px 0;
    }

    input {
      border: 1px solid $textMidGrey;
      width: 100%;
      margin: 0 0 8px 0;
      min-height: 20px;
    }
    input.button{
      background: #fff;
      border: 1px solid $textMidGrey;
      color: $textMidGrey;
      padding: 8px 12px;
      text-transform: uppercase;
      &:hover{
        cursor: pointer;
        color: $textMidGreyHover;
        border: 1px solid $textMidGreyHover;
      }
    }


    @media(min-width: 857px){
      width: 320px;
    }
  }

  footer {
    height: 60px;
    text-align: center;
    color: $textMidGrey;
  }
}