@import "partials/clearfix";
@import "partials/reset";
@import "partials/colors";

body {
  font-family: 'Arial', sans-serif;
}
.container{
  width: 90%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
img {
  width: 100%;
  margin: auto;
}

header {
  margin: 50px auto 0 auto;
  width: relative;
  color: $textMidGrey;
  border-top: 1px dotted $borderGrey;
  padding: 28px 0 60px 0;
  a {
    color: $textMidGrey;
  }
  h1{
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    display: inline-block;
    width: relative;
    border-right: 1px solid $borderGrey;
    padding: 0 20px 0 0;
    vertical-align: top;
  }
  aside{
    display: inline-block;
    width: 300px;
    font-size: 0.75rem;
    padding: 0 0 0 20px;
    text-align: left;
  }
}

#index {
  & .photo {

    margin: auto;
    h1 {
      text-align: left;
      font-size: 1rem;
      color: $textMidGrey;
    }
    p{
      text-align: left;
     font-size: 1rem;
      color: $textMidGrey;
    }
    &:first-child{
      h1 {
        display: none;
      }
      p {
        display: none;
      }
    }
  }

  & .photo:nth-child(n+2){
    // display: none;
    flex: 0 1 auto;
    width: 100%;

    img {
      width: 100%;
    }
    @media (min-width: 728px){
      width: 33%;
    }
  }
}

// #edit {
//   display: flex;
//   justify-content: center;
//   img{

//   }
//   form {

//   }
// }