<form name="newPhoto" id="newPhoto" action="/gallery/new" method="POST">
  <label for="link">Link</label>
  <input type="text" name="link" value="">

  <label for="author">Author</label>
  <input type="text" name="author" value="">

  <label for="description">Description</label>
  <input type="text" name="description" value="">

  <input id="newPhoto" type="submit" value="Submit">
</form>