<div id="new">
  {{#if error}}
    <div class="error">
      All fields are required
    </div>
  {{/if}}
  <form name="newPhoto" id="newPhoto" action="/gallery/new" method="POST">

    <label for="author">Author</label>
    <input type="text" name="author" >

    <label for="description">Description</label>
    <input type="text" name="description">

    <label for="link">Link</label>
    <input type="text" name="link">
    <input class="button" id="newPhoto" type="submit" value="Submit">
  </form>
</div>