<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
  <div class="container">
    <div class="top-links">
      <div class="new-photo">
        <a href="/gallery/new">+ New Photo</a>
      </div>
      <div class="registration">
        {{#unless user}}
          <a href="/login">Login</a>
          <a href="/login/signup">Sign Up</a>
        {{/unless}}
        {{#if user}}
          <a href="/login/logout">Sign Out</a>
        {{/if}}
        <div class="search">
          <form action="/search" method="POST">
            <input name= "keyword" type="text" placeholder="Search Photos">
            <input id="search-button" type=button type="submit" value="&#128269;">
          </form>
        </div>
      </div>
    </div>
    <header>
      <a href="/gallery"><h1>_Architekt</h1></a>
      <aside>
        Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme.
      </aside>
    </header>
  </div>

  <div class="container">
    {{{body}}}
  </div>
</body>
<link rel="stylesheet" href="/../public/css/app.css">
</html>