<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <a href="/gallery"><h1>_Architekt</h1></a>
      <aside>
        Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme.
      </aside>
    </header>
  </div>
  <div class="container">
    {{{body}}}
  </div>
</body>
<link rel="stylesheet" href="/../public/css/app.css">
</html>