{{!-- <form name="login" id="login" action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" value="">

  <label for="password">Password</label>
  <input type="text" name="password" value="">

  <input id="login" type="submit" value="Submit">
</form> --}}
<div id="login">
  <form action="/login" method="post">
      <div>
          <label>Username</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>Password</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
  </form>
</div>