<h1>Sign Up</h1>
<div id="signup">
  <form name="signup" id="signupform" action="/login/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">

    <label for="password">Password</label>
    <input type="text" name="password">

    <input class="button" id="signupform" type="submit" value="Submit">
  </form>

</div>