<div id="signup">
  <h1>Sign Up</h1>
  <form name="signup" id="signupform" action="/login/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
    {{#if message}}
      <div class="message">
      <h2>{{message}}</h2>
      </div>
    {{/if}}
    <label for="password">Password</label>
    <input type="text" name="password">

    <input class="button" id="signupform" type="submit" value="Submit">
  </form>

</div>