.group:after {
  content: "";
  display: table;
  clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#index {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around; }
  #index .photo {
    display: flex;
    flex-flow: column nowrap; }
    #index .photo h2, #index .photo .link {
      text-align: left;
      font-size: 1rem;
      color: #8a8a8a;
      padding: 0 0 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-height: 200px;
      text-decoration: none;
      overflow: hidden; }
  #index .photo:first-child {
    max-height: 400px;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px dotted #999;
    position: relative; }
    #index .photo:first-child:first-child:after {
      content: '';
      width: 100%;
      height: 10px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0; }
    #index .photo:first-child h2 {
      display: none; }
    #index .photo:first-child .link {
      display: none; }
  #index .photo:nth-child(n+2) {
    padding: 16px 2%;
    width: 100%;
    max-height: 250px; }
    #index .photo:nth-child(n+2) a {
      overflow: hidden;
      margin-bottom: 16px; }
    @media (min-width: 728px) {
      #index .photo:nth-child(n+2) {
        max-width: 32%; } }
  #index .photo:nth-child(6n+2), #index .photo:nth-child(6n+4), #index .photo:nth-child(6n+5), #index .photo:nth-child(6n+7) {
    padding: 16px 0; }
  @media (min-width: 728px) {
    #index .photo:nth-child(3n+2):after {
      content: '';
      border-bottom: 1px dotted #999;
      width: 312.5%;
      right: 0; } }

.subnav {
  margin: 0;
  padding: 0 0 16px 0;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start; }
  .subnav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 0.75rem;
    letter-spacing: 1px; }

.return-button {
  padding: 16px 0; }

#details {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: center; }
  #details a {
    color: #8a8a8a; }
  #details .photo {
    text-align: left;
    overflow: hidden;
    width: 100%; }
    #details .photo h2, #details .photo a.link {
      text-align: left;
      font-size: 1rem;
      width: relative;
      color: #8a8a8a;
      padding: 0 0 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none; }
  @media (min-width: 857px) {
    #details .photo:first-child {
      width: 66%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap; }
      #details .photo:first-child img {
        padding: 0 0 8px 0;
        width: 100%;
        display: block; }
      #details .photo:first-child .author, #details .photo:first-child .link {
        order: -1;
        padding: 0 0 8px 0; } }
  #details .controls {
    padding: 16px 0;
    display: flex;
    align-content: flex-end; }
    #details .controls #editButton, #details .controls #deleteButton {
      width: inherit;
      display: inline-block; }
    #details .controls button {
      text-transform: uppercase;
      color: #8a8a8a;
      padding: 7px 10px;
      background: #fff;
      border: solid 1px #8a8a8a;
      margin: 0 0 16px 0;
      cursor: pointer; }
      #details .controls button:hover {
        color: #333;
        border: 1px solid #333; }
  #details .photo:nth-child(n+2) p {
    display: none; }
  #details .photo:nth-child(n+2) .controls {
    display: none; }
  @media (min-width: 857px) {
    #details .photo:nth-child(n+2) {
      width: 20%;
      padding: 0 0 16px 2%; } }

#login, #signup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%; }
  #login h1, #signup h1 {
    width: 100%;
    text-align: center; }
  #login .message, #signup .message {
    background-color: red;
    color: white;
    text-align: left;
    padding: 4px; }

#edit {
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center; }
  #edit .photo {
    width: 100%; }
    @media (min-width: 857px) {
      #edit .photo {
        width: 60%; } }
  #edit #editPhoto form {
    width: 20%;
    margin-left: 5%; }
    #edit #editPhoto form label {
      text-align: left;
      display: block; }
    #edit #editPhoto form input {
      width: 100%;
      margin: 4px 0 16px 0;
      font-size: 0.75rem; }
  #edit textarea {
    width: 100%;
    min-height: 3rem;
    margin-bottom: 8px; }

#new {
  width: 100%;
  display: flex;
  justify-content: center; }

#search {
  margin: 0 auto;
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%; }
  #search .photo {
    width: 90%;
    margin: 16px 0;
    overflow: hidden; }
  @media (min-width: 857px) {
    #search {
      justify-content: space-around; }
      #search .photo {
        width: 45%;
        margin: 16px 0; }
        #search .photo img {
          max-height: 300px; } }

body {
  font-family: 'Arial', sans-serif; }
  body .container {
    width: 90%;
    max-width: 1280px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  body form {
    width: 60%;
    padding: 0 16px; }
    body form label {
      text-align: left;
      padding: 10px 0;
      display: block;
      width: 100%;
      margin: 0 0 4px 0; }
    body form input {
      border: 1px solid #8a8a8a;
      width: 100%;
      margin: 0 0 8px 0;
      min-height: 20px; }
    body form input.button {
      background: #fff;
      border: 1px solid #8a8a8a;
      color: #8a8a8a;
      padding: 8px 12px;
      text-transform: uppercase; }
      body form input.button:hover {
        cursor: pointer;
        color: #333;
        border: 1px solid #333; }
    @media (min-width: 857px) {
      body form {
        width: 320px; } }
  body footer {
    height: 60px;
    text-align: center;
    color: #8a8a8a; }
  body img {
    width: 100%;
    margin: 0 auto; }
  body a {
    color: #8a8a8a;
    display: inline-block;
    text-decoration: none; }
    body a:hover {
      color: #333; }
  body .top-links {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 16px 0 0 0; }
    body .top-links .search form {
      width: 100%;
      padding: 0;
      margin: 0; }
      body .top-links .search form input {
        width: 70%; }
      body .top-links .search form #search-button {
        width: 10%; }
    @media (min-width: 857px) {
      body .top-links .search {
        display: flex nowrap;
        justify-content: flex-end;
        width: 320px; }
        body .top-links .search form {
          padding: 0; }
        body .top-links .search input {
          width: 85%;
          margin: 0; }
        body .top-links .search #search-button {
          width: 10%;
          background: none; }
          body .top-links .search #search-button:hover {
            cursor: pointer;
            color: #333;
            border: 1px solid #333; } }
    body .top-links .registration {
      display: block;
      text-align: right; }
      body .top-links .registration a {
        padding: 8px 0 8px 16px; }
    body .top-links .new-photo {
      border: 1px solid #8a8a8a;
      display: block;
      padding: 7px 10px;
      height: 16px; }
      body .top-links .new-photo:hover {
        border: 1px solid #333;
        color: #333; }
  body header {
    margin: 24px auto 0 auto;
    width: 100%;
    color: #8a8a8a;
    border-top: 1px dotted #999;
    padding: 28px 0 60px 0; }
    body header a:hover {
      color: #8a8a8a; }
    body header h1 {
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      display: inline-block;
      width: relative;
      padding: 0 20px 0 0; }
      @media (min-width: 857px) {
        body header h1 {
          font-size: 4rem;
          border-right: 1px solid #999; } }
    body header aside {
      width: 300px;
      font-size: 0.75rem;
      padding: 0 0 0 20px;
      text-align: left;
      display: none; }
      @media (min-width: 857px) {
        body header aside {
          display: inline-block; } }
